 body {
     color: #434455;
     font-family: 'Montserrat', sans-serif;
 }

 ul {
     list-style: none;
 }

 a {
     text-decoration: none;
 }

 .address {
     font-family: normal;
 }

 .button {
     font-family: inherit;
 }

 .text {
     font-family: 'Raleway', sans-serif;
     color: brown;
 }

 .header-navigation {
     color: #2e2f42;
     background-color: #fff;
 }

 .header-logo {
     font-weight: 700;
     font-size: 18px;
     line-height: 1.16667;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
 }

 .logo-part {
     font-weight: 700;
     font-size: 18px;
     line-height: 1.16667;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #2e2f42;
 }

 .header-contacts {
     display: flex;
     align-items: flex-start;
     justify-content: flex-start;
     flex-direction: row;
     gap: 40px;
 }

 .header-menu-link {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
 }

 .header-menu-link {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }

 .header-menu-link {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }

 .hero {
     background: #2e2f42;
 }

 .hero-title {
     font-weight: 700;
     font-size: 56px;
     line-height: 1.07143;
     letter-spacing: 0.02em;
     text-align: center;
     color: #fff;
 }

 .hero-btn {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #fff;
 }

 .features {}

 .features-title {}

 .features-liste {}

 .features-item {}

 .features-subtitle {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
 }

 .features-item-text {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }

 .features-subtitle {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
 }

 .features-item-text {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }

 .features-subtitle {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
 }

 .features-item-text {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }

 .features-subtitle {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
 }

 .features-item-text {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }

 .partfolio-liste {}

 .partfolio-item {}

 .partfolio-image {}

 .partfolio-item {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.2;
     letter-spacing: 0, 02em;
     color: #2e2f42;
 }

 .partfolio-item-description {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0, 02em;
     color: #434455;
 }

 .footer {
     background: #2e2f42;
 }

 .footer-logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 117%;
     letter-spacing: 0, 03em;
     text-transform: uppercase;
     color: #4d5ae5;
 }